/*********************
* Color
*********************/
.bg-color--keycolor {
  background-color: #FF99FF;
}
.bg-color--subcolor {
  background-color: #CC99CC;
}
.bg-color--gray {
  background-color: #FFCCFF;
}
